:root {
  --heading-font-family: "Stainless-Black", "Arial Black", Arial, sans-serif;
  --body-font-family: "Figtree", Arial, sans-serif;
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --link-color: rgb(0, 65, 116);
  --link-hover-color: rgb(0, 122, 194);
  --section-padding: 20px;
  --nav-height: 77.5px;
}

html, body { overflow: auto !important; }
